<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Такси Юг-Трансфер</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>27</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true />
	<key>LSRequiresIPhoneOS</key>
	<true />
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true />
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Разрешите приложению воспроизводить музыку из вашей библиотеки для улучшения пользовательского опыта.</string>
	<key>NSCameraUsageDescription</key>
	<string>Разрешите приложению доступ к камере для возможности фотографирования и сканирования QR-кодов.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Приложению требуется доступ к вашему местоположению всегда для обеспечения точных данных о вашем местонахождении и улучшения качества обслуживания.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>YOUR-PURPOSE-KEY</key>
		<string>YOUR TEXT</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Приложению требуется доступ к вашему местоположению во время использования для предоставления точных данных о маршруте и времени прибытия.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Разрешите приложению доступ к фотогалерее для загрузки и обмена изображениями.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Разрешите приложению отправлять вам уведомления о статусе поездок, специальных предложениях и других важных событиях.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false />
</dict>
</plist>
